body {
    background-image: linear-gradient(to right top, #e36b00, #f41236, #ed0069, #bf00a7, #1f18e1);
    background-repeat:no-repeat;
    background-color: #000;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(4, 1fr) auto;
    grid-template-areas:
    ". header header header header"
    "aside . main main ."
    "aside . main main ."
    "aside . main main ."
    "aside . main main ."
    "footer footer footer footer footer";
    justify-content: center;
    gap: 0.5rem;
    max-width: 1500px;
}

.header {
    font-family: 'Seymour One', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    grid-area: header;
    color: #fff;
}

.header__title {
    text-align: center;
    margin: 0.5rem auto;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend, form, button {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

.color-selection,
.options {
    border: 4px solid #c0c0c0;
    display: grid;
    row-gap: 1rem;
    margin-top: 0.5rem;
}

.color-selection {
    grid-template-areas:
    "label-bg label-bg color-bg"
    "label label color-mouse"
    "btn btn btn"
    "btnd btnd btnd";
}

.options {
    grid-template-areas:
    "slider"
    "btn-clc";
}

.bg-label {
    grid-area: label-bg;
}

.bg-input {
    grid-area: color-bg;
}

.mouse-label {
    grid-area: label;
}

.mouse-input {
    grid-area: color-mouse;
}

.random {
    grid-area: btn;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-image: linear-gradient(45deg, #ff4cfe, #43ffbe);
    border: none;
}

.dark {
    grid-area: btnd;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-image: linear-gradient(45deg, #ff4cfe, #43ffbe);
    border: none;
}

.range-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slider {
    width: 100%;
    grid-area: slider;
    margin-top: 1rem;
}

.range__value {
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
}

.clc {
    grid-area: btn-clc;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-image: linear-gradient(45deg, #ff4cfe, #43ffbe);
    border: none;
}

.random:hover,
.clc:hover,
.dark:hover {
    box-shadow: 0.1rem 0.1rem 1rem #000;
}

.random:active,
.clc:active,
.dark:active {
    box-shadow: 0.1rem 0.1rem 0.5rem inset #000;
}

.main {
    font-family: 'Caveat', cursive;
    display: flex;
    justify-content: center;
    grid-area: main;
    max-width: 600px;
    max-height: 600px;
    aspect-ratio: 1/1;
}

.canvas {
    display: grid;
    background-image: radial-gradient(circle at 100% 100%,rgb(95, 3, 3), rgb(134, 4, 4), #f00);
    border-radius: 1.5rem;
    width: 100%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "title title title title title"
    ". div div div. "
    ". div div div ."
    ". . . . ."
    ". btn btn btn .";
    box-shadow: 0.1rem 0.1rem #000,
                0.1rem 0.3rem #000, 0.3rem -0.1rem #000,
                1rem 1rem 0.5rem #000,
                -1rem 0 5rem #000;
}

.canvas-title {
    grid-area: title;
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
    font-size: 3rem;
    color: #efb810;
    text-decoration: underline;
    letter-spacing: 1px;
}

.div-container {
    grid-area: div;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
    box-shadow: .1rem .1rem 0.5rem inset #000;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.circle-container {
    grid-area: btn;
    height: 70%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.left-circle,
.right-circle
 {
    height: 100%;
    width: 24%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem #000,
                -0.01rem -0.01rem .3rem inset #000;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.left-circle__line,
.right-circle__line {
    width: 75%;
    height: 75%;
    background-color: rgba(140, 140, 140, 0.31);
    border-radius: 45%;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(66, 53, 53, 0.52), -0.5rem -0.5rem 1.5rem rgba(72, 53, 53, 0.49);
}

.footer {
    font-family: 'Seymour One', sans-serif;
    grid-area: footer;
    margin-top: 1.5rem;
    text-align: center;
    color: #fff;
}

.p__a,
.p__a:hover,
.p__a:active {
    color: #edb05f;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .canvas-title {
        font-size: 2.1rem;
    }
}
@media (max-width: 740px) {

    .grid-container {
        grid-template-rows: repeat(6,auto);
        grid-template-areas:
        "header header header header header"
        "aside aside aside aside aside"
        ". main main main ."
        ". main main main ."
        ". main main main ."
        "footer footer footer footer footer";
    }

    .canvas-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 450px) {
    .header {
        font-size: 1rem;
    }
    .canvas-title {
        font-size: 0.9rem;
    }
}